# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Snake/.vs/Snake/v14
/Snake/Debug
/Snake/packages
/Snake/Snake/Debug/Snake.tlog
/Snake/Snake/Debug
/Snake/Snake.VC.VC.opendb
/Snake/Snake.VC.db
/Snake/Snake.sln
/Snake/Snake/Snake.vcxproj.filters
/Snake/Snake/Snake.vcxproj
/Snake/Snake/packages.config
